.rate_detail_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .rate_detail_modal_cantainer {
    display: flex;
    width: 900px;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    background: #fff;
    overflow: hidden;
    .rate_detail_modal_header {
      display: flex;
      padding: 0px 32px;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      .rate_retail_modal_cancel_btn {
        cursor: pointer;
      }
      .rate_detail_modal_header_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .rate_detail_modal_img_box {
          width: 40px;
          height: 40px;
          aspect-ratio: 1/1;
          border-radius: 50px;
          overflow: hidden;
          margin-bottom: 16px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .rate_detail_modal_header_title {
          color: $--Text-00;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 8px;
        }
        .rate_detail_modal_header_bank {
          color: $--Text-00;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .rate_detail_modal_rate_box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      padding: 24px 32px;
      gap: 32px;
      background: $--Main-BG;
      .rate_detail_modal_rate_inner {
        display: flex;
        justify-content: stretch;
        align-items: center;
        gap: 32px;
        .rate_detail_modal_rate_section {
          display: flex;
          flex-direction: column;
          gap: 8px;
          span {
            &:first-child {
              color: $--Text-02;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &:last-child {
              color: $--Main-Navy;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .rate_detail_modal_rate_line {
          width: 1px;
          height: 52px;
          background: #ddd;
        }
      }
    }
    .rate_detail_modal_content_box {
      display: flex;
      padding: 0px 32px 32px 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      max-height: calc(100vh - 500px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 3px;
      }
      .rate_detail_modal_content_item {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        .rate_detail_modal_content_title {
          width: 115px;
          color: $--Text-03;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          flex-shrink: 0;
        }
        .rate_detail_modal_content {
          color: $--Text-00;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          white-space: pre-wrap;
          &.line-height-150 {
            line-height: 150%;
          }
        }
      }
    }
    .rate_detail_modal_content_table_box {
      display: flex;
      padding: 0px 32px 32px 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      align-self: stretch;
      .rate_detail_modal_content_table_title {
        color: $--Text-00;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .custom_table {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid $--Text-04;
        border-right: none;
        .custom_table_row {
          display: flex;
          color: $--Text-02;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 22.5px */
          letter-spacing: -0.3px;
          &:first-child {
            background: $--Main-BG;
            color: $--Text-02;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 22.5px */
            letter-spacing: -0.3px;
          }
          .custom_table_cell {
            display: flex;
            padding: 8px 0px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            flex: 1 0 0;
            border-right: 1px solid $--Text-04;
            &:nth-child(9),
            &:nth-child(18) {
            }
          }
        }
      }
    }
  }
}

@include point1024max {
  .rate_detail_modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    .rate_detail_modal_cantainer {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 32px 0px;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      border-radius: 0;
      background: #fff;
      .rate_detail_modal_header {
        display: flex;
        padding: 0px 32px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        .rate_retail_modal_cancel_btn {
          cursor: pointer;
        }
        .rate_detail_modal_header_content {
          isplay: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          .rate_detail_modal_img_box {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            border-radius: 50px;
            overflow: hidden;
            margin-bottom: 16px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .rate_detail_modal_header_title {
            color: $--Text-00;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 8px;
          }
          .rate_detail_modal_header_bank {
            color: $--Text-00;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      .rate_detail_modal_rate_box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        padding: 24px 32px;
        gap: 32px;
        background: $--Main-BG;
        .rate_detail_modal_rate_inner {
          display: flex;
          justify-content: stretch;
          align-items: center;
          gap: 32px;
          .rate_detail_modal_rate_section {
            display: flex;
            flex-direction: column;
            gap: 8px;
            span {
              &:first-child {
                color: $--Text-02;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              &:last-child {
                color: $--Main-Navy;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
          .rate_detail_modal_rate_line {
            width: 1px;
            height: 52px;
            background: #ddd;
          }
        }
      }
      .rate_detail_modal_content_box {
        display: flex;
        padding: 0px 32px 32px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        .rate_detail_modal_content_item {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          .rate_detail_modal_content_title {
            width: 115px;
            color: $--Text-03;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            flex-shrink: 0;
          }
          .rate_detail_modal_content {
            color: $--Text-00;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: pre-wrap;
            &.line-height-150 {
              line-height: 150%;
            }
          }
        }
      }
      .rate_detail_modal_content_table_box {
        display: flex;
        padding: 0px 32px 32px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        align-self: stretch;
        .rate_detail_modal_content_table_title {
          color: $--Text-00;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .custom_table {
          width: 100%;
          display: flex;
          flex-direction: column;
          border: 1px solid $--Text-04;
          .custom_table_row {
            display: flex;
            color: $--Text-02;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 22.5px */
            letter-spacing: -0.3px;
            &:first-child {
              background: $--Main-BG;
              color: $--Text-02;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 22.5px */
              letter-spacing: -0.3px;
            }
            .custom_table_cell {
              display: flex;
              padding: 8px 0px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              flex: 1 0 0;
              border-right: 1px solid $--Text-04;
            }
          }
        }
      }
    }
  }
}
