.toast_modal_container {
  width: 240px;
  padding: 20px;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $--Text-01;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 10000;
  span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  &.fade-out {
    opacity: 0;
  }
}
