.calc_inner {
  width: 1152px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.calc_content_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.calc_section {
  height: 800px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 40px;
  background: $--Text-W;
  overflow: hidden;
  position: relative;
  box-shadow: $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-800
      $--sds-size-depth-negative-100 $--sds-color-black-200,
    $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-100
      $--sds-size-depth-negative-100 $--sds-color-black-100;
  border-color: #eeeeee;
  &:first-child {
    .calc_section_inner_wrapper {
      height: calc(100% - 105px);
      padding-right: 8px;
    }
  }
  &:last-child {
    .calc_section_inner_wrapper {
      height: calc(100% - 113px);
      padding-right: 8px;
    }
  }

  /* 두 번째 .calc_section만 별도 스타일이 필요한 경우 */
  &:nth-of-type(2) {
    .calc_section_inner {
      padding: 40px 40px 0px 40px;
    }
  }
}
.calc_group_btn {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  padding: 20px 40px 40px 40px;
}
.calc_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
  border-radius: 12px;
  cursor: pointer;

  &:first-child {
    border: 1px solid $--Main-Navy;
    color: $--Main-Navy;
  }
  &:last-child {
    background: $--Main-Navy;
    color: $--Text-W;
    border: 1px solid $--Text-05;
  }
}
.calc_section_inner_wrapper {
  height: calc(100% - 105px);
  padding-right: 8px;
}
/* 단계 번호 (step_number) 자동증가용 */
.calc_inner {
  counter-reset: stepCounter;
}
.calc_title_box {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px 40px 20px 40px;
  overflow: visible;
  z-index: 10;

  span {
    color: $--Text-00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  svg {
    min-width: 28px;
    min-height: 29px;
    margin-left: auto;
  }
}
.calc_title_dropdown {
  position: relative;
  display: inline-block;
  justify-content: stretch;
  align-items: center;
  gap: 12px;
  overflow: visible;
}
.calc_title_dropdown_btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  font-size: 24px;
  font-weight: 700;
  color: $--Text-00;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
  &.opened {
    width: fit-content;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    border-color: #232527;
    color: #232527;
  }
  .arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.2s;
    &.up {
      transform: rotate(180deg);
    }
    &.down {
      transform: rotate(0);
    }
  }
}
.calc_title_dropdown_list {
  position: absolute;
  top: calc(100%);
  left: 0;
  min-width: 100%;
  width: max-content;
  min-width: 100%;
  background: #fff;
  border: 1px solid #232527;
  border-radius: 0 0 8px 8px;
  border-top: none;
  z-index: 200;

  li {
    width: 100%;
  }
}
.calc_title_dropdown_item {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: left;
  color: $--Text-03;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;

  &.active {
    color: $--Text-00;
    font-weight: 700;
  }
  &:hover:not(.active) {
    background: $--BG-01;
  }
}
.calc_section_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 20px 32px 40px 40px;
  overflow-y: auto;

  /* 두 번째 섹션만 패딩값 다르게 */
  &:nth-of-type(2) {
    padding: 40px 40px 0px 40px;
  }

  scrollbar-color: #ddd transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 20px;
  }
}
.calc_group_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calc_group_content_input_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  position: relative;

  &.margin_bottom-20 {
    margin-bottom: 20px;
  }
}
.calc_group_content_input_label {
  width: 162px;
  color: $--Text-00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  flex-shrink: 0;
  &.color-gray {
    color: $--Text-02;
    font-weight: 500;
  }
  &.flex-shrink_1 {
    flex-shrink: 1;
  }
}
.flex_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  .calc_group_content_input_inner.input_error {
    border: 1px solid $--Colors-Red;
  }
}
.calc_group_content_input_inner {
  position: relative;
  display: flex;
  padding: 16px;
  justify-content: flex-end;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid $--Text-04;
  &.input_error {
    border: 1px solid $--Colors-Red;
  }

  &.calc_group_content_input_inner_disabled {
    border: 1px solid $--Text-04;
    background: $--Text-05;
  }
}
.calc_group_content_input {
  border: none;
  outline: none;
  text-align: end;
  flex: 1;
  color: $--Text-00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.4px;
  padding: 0;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  &:focus::placeholder {
    color: transparent;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus::-moz-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &::placeholder {
    color: $--Text-03;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transform: translateY(-1.55px);
    letter-spacing: -0.32px;
  }
  &.placeholder_styled {
    &::placeholder {
      color: $--Text-04;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
    }
  }
}

.calc_group_content_input_unit {
  color: $--Text-00;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.calc_group_content_input_modal {
  position: absolute;
  bottom: -20px;
  right: 20px;
  padding: 10px;
  border-radius: 10px;
  color: $--Text-W;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
}

.add_btn_box {
  display: flex;
  align-items: center;
  gap: 8px;
  .item_btn {
    display: flex;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $--Main-Navy;
    color: $--Main-Navy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    cursor: pointer;
    white-space: nowrap;
  }
}
.prohibit_deletion {
  color: $--Colors-Red;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: -0.3px;
  white-space: nowrap;
}
.calc_group_content_input_set {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calc_group_content_input_set_inner {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 0;
}
.calc_group_content_input_set_label {
  width: 162px;
  flex-shrink: 0;
  color: $--Text-02;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.gender_button_group {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 1;
}
.gender_button {
  height: 100%;
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $--Text-03;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  border: 1px solid $--Text-04;
  cursor: pointer;

  &:first-child {
    border-radius: 16px 0px 0px 16px;
  }
  &:last-child {
    border-radius: 0px 16px 16px 0px;
  }

  &.active {
    border: 1px solid $--Main-Navy;
    color: $--Main-Navy;
  }
}
.calc_group_content_input_set_box {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 56px;
  padding: 16px;
  gap: 8px;
  border: 1px solid $--Text-04;
  border-radius: 16px;
}
.calc_group_content_input {
  flex: 1 1 auto;
  min-width: 0;
  text-align: end; /* placeholder와 값 모두 오른쪽 정렬 */
  border: none;
  outline: none;
  color: $--Text-00;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;

  &::placeholder {
    color: $--Text-03;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
  }
}

.calc_group_content_input_unit {
  color: $--Text-00;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.calc_group_title_box {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: $--Text-W;

  div {
    display: flex;
    width: 28px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    aspect-ratio: 1/1;
    border-radius: 50px 50px 0px 50px;
    background: $--Main-Navy;
    color: $--Text-W;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: -0.36px;
  }

  span {
    color: $--Main-Navy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }
}

.calc_group_checkbox {
  display: flex;
  align-items: center;
  gap: 24px;
  &:has(.calc_group_content_checkbox:checked) {
    .custom_checkbox_mini {
      border-color: $--Text-02;
    }
    .calc_group_content_text_mini {
      color: $--Text-02;
    }
  }
}
.calc_group_checkbox_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:has(.calc_group_content_checkbox:checked) {
    .calc_group_checkbox_inner_2 {
      .custom_checkbox_mini {
        border-color: $--Text-02;
      }
      .calc_group_content_text_mini {
        color: $--Text-02;
      }
    }
  }
}
.calc_group_content_mini {
  display: flex;
  gap: 20px;
  align-self: stretch;
}
.calc_group_content_label_mini {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 8px;
}
.calc_group_content_checkbox_mini {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .custom_checkbox_mini {
    background-color: black;
    border-color: black;
  }
  &:checked + .custom_checkbox_mini::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.custom_checkbox_mini {
  display: inline-block;
  width: 19px;
  min-width: 19px;
  height: 19px;
  border: 2px solid $--Text-03;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.calc_group_content_text_mini {
  color: $--Text-03;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* 미니 체크박스 자체가 체크되면 글자색 변경 */
.calc_group_content_checkbox_mini:checked ~ .calc_group_content_text_mini {
  color: $--Text-00;
}
.calc_group_checkbox_inner_2 {
  display: flex;
  gap: 16px;
  margin-left: 40px;
}
.calc_group_content_label_mini {
}
.custom_checkbox_mini {
  border-color: $--Text-03;
}
.calc_group_content_text_mini {
  color: $--Text-03;
}
.calc_group_content_label_mini {
  .custom_checkbox_mini {
    border-color: $--Text-03;
  }
  .calc_group_content_text_mini {
    color: $--Text-03;
  }
}

/* 라디오/체크박스 공통 스타일 */
.calc_group_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  &.end_content {
    align-items: flex-end;
    margin: 20px 0;
  }
}
.calc_group_content_label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 12px;
}
.calc_group_content_radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .custom_radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* 내부 점 크기 */
    height: 10px;
    background-color: black;
    border-radius: 50%;
  }
}
.custom_radio {
  display: inline-block;
  width: 22.17px;
  height: 22.17px;
  border: 2px solid $--Text-02;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  margin-left: 4px;
}

.calc_group_content_checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .custom_checkbox {
    background-color: black;
    border-color: black;
  }
  &:checked + .custom_checkbox::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 1.9px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.custom_checkbox {
  display: inline-block;
  width: 22.17px;
  height: 22.17px;
  border: 2px solid $--Text-02;
  border-radius: 4px;
  margin-left: 4px;
  box-sizing: border-box;
  position: relative;
}

.calc_group_content_text {
  color: $--Text-02;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

/* 체크 or 라디오 선택 시 글자색 변경 */
.calc_group_content_radio:checked ~ .calc_group_content_text,
.calc_group_content_checkbox:checked ~ .calc_group_content_text {
  color: $--Text-00;
}
.note_box_wrap {
  margin-top: auto;
  position: relative;
  transform: translateY(10%);
  .note_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h3 {
      color: $--Text-03;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 27px */
      letter-spacing: -0.36px;
    }
    .note_content {
      align-self: stretch;
      color: $--Text-03;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.32px;
      ol {
        list-style-type: decimal;
        margin-left: 22px;
      }
    }
    h4 {
      color: $--Text-03;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
    }
  }
}
.calc_group_box {
  counter-increment: stepCounter;
}
.calc_group_title_box .step_number::before {
  content: counter(stepCounter);
}

@include point1024max {
  .calc_inner {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    padding: 0;
  }
  .calc_content_box {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
  }
  .calc_section_inner_wrapper {
    padding-right: 8px;
  }
  .calc_section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    background: $--Text-W;
    flex: auto;
    box-shadow: none;
    &:first-child {
      border-radius: 0;
      box-shadow: none;
      position: relative;
      z-index: 1;
      .calc_section_inner_wrapper {
        height: fit-content;
        padding-right: 8px;
      }
    }
    &:last-child {
      border-radius: 0;
      box-shadow: $--sds-size-depth-0 $--sds-size-depth-100
          $--sds-size-depth-800 $--sds-size-depth-negative-100
          $--sds-color-black-200,
        $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-100
          $--sds-size-depth-negative-100 $--sds-color-black-100;
      .calc_section_inner_wrapper {
        height: 100%;
        padding-right: 8px;
      }
    }

    /* 두 번째 .calc_section만 별도 스타일이 필요한 경우 */
    &:nth-of-type(2) {
      .calc_section_inner {
        padding: 40px 24px 0px 24px;
      }
    }
  }
  .calc_title_box {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 40px 24px 20px 24px;

    span {
      color: $--Text-00;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    svg {
      width: 28px;
      height: 29px;
    }
  }

  .calc_section_inner {
    height: fit-content;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 16px 40px 24px;
    overflow-y: auto;

    /* 두 번째 섹션만 패딩값 다르게 */
    &:nth-of-type(2) {
      padding: 40px 40px 0px 40px;
    }

    scrollbar-color: #ddd transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 20px;
    }
  }
  .calc_group_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .calc_group_title_box {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $--Text-W;

    div {
      display: flex;
      width: 28px;
      height: 28px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      aspect-ratio: 1/1;
      border-radius: 50px 50px 0px 50px;
      background: $--Main-Navy;
      color: $--Text-W;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 27px */
      letter-spacing: -0.36px;
    }

    span {
      color: $--Main-Navy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.4px;
    }
  }

  .calc_group_checkbox {
    display: flex;
    align-items: center;
    gap: 24px;
    &:has(.calc_group_content_checkbox:checked) {
      .custom_checkbox_mini {
        border-color: $--Text-02;
      }
      .calc_group_content_text_mini {
        color: $--Text-02;
      }
    }
  }

  .calc_group_checkbox_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:has(.calc_group_content_checkbox:checked) {
      .calc_group_checkbox_inner_2 {
        .custom_checkbox_mini {
          border-color: $--Text-02;
        }
        .calc_group_content_text_mini {
          color: $--Text-02;
        }
      }
    }
  }
  .calc_group_checkbox_inner_2 {
    display: flex;
    gap: 16px;
    margin-left: 40px;
  }
  .calc_group_content_label_mini {
    .custom_checkbox_mini {
      border-color: $--Text-03;
    }
    .calc_group_content_text_mini {
      color: $--Text-03;
    }
  }
  /* 라디오/체크박스 공통 스타일 */
  .calc_group_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    &.end_content {
      align-items: flex-end;
      margin: 20px 0;
    }
  }
  .calc_group_content_label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 12px;
  }
  .calc_group_content_radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .custom_radio::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px; /* 내부 점 크기 */
      height: 10px;
      background-color: black;
      border-radius: 50%;
    }
  }
  .custom_radio {
    display: inline-block;
    width: 22.17px;
    height: 22.17px;
    border: 2px solid $--Text-02;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    margin-left: 4px;
  }

  .calc_group_content_checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .custom_checkbox {
      background-color: black;
      border-color: black;
    }
    &:checked + .custom_checkbox::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 1.9px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  .custom_checkbox {
    display: inline-block;
    width: 22.17px;
    height: 22.17px;
    border: 2px solid $--Text-02;
    border-radius: 4px;
    margin-left: 4px;
    box-sizing: border-box;
    position: relative;
  }

  .calc_group_content_text {
    color: $--Text-02;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  /* 체크 or 라디오 선택 시 글자색 변경 */
  .calc_group_content_radio:checked ~ .calc_group_content_text,
  .calc_group_content_checkbox:checked ~ .calc_group_content_text {
    color: $--Text-00;
  }
  /* 미니 체크박스(차익조정, 1주택 비과세 등) */
  .calc_group_content_mini {
    display: flex;
    gap: 20px;
    align-self: stretch;
  }
  .calc_group_content_label_mini {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 8px;
  }
  .calc_group_content_checkbox_mini {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .custom_checkbox_mini {
      background-color: black;
      border-color: black;
    }
    &:checked + .custom_checkbox_mini::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .custom_checkbox_mini {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid $--Text-03;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
  }

  .calc_group_content_text_mini {
    color: $--Text-03;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  /* 미니 체크박스 자체가 체크되면 글자색 변경 */
  .calc_group_content_checkbox_mini:checked ~ .calc_group_content_text_mini {
    color: $--Text-00;
  }
  .calc_group_content_input_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    position: relative;

    &.margin_bottom-20 {
      margin-bottom: 20px;
    }
  }
  .calc_group_content_input_label {
    width: 162px;
    color: $--Text-00;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    flex-shrink: 0;
    &.color-gray {
      color: $--Text-02;
      font-weight: 500;
    }
    &.flex-shrink_1 {
      flex-shrink: 1;
    }
  }
  .flex_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .calc_group_content_input_inner.input_error {
    border: 1px solid $--Colors-Red;
  }
  .calc_group_content_input_inner {
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid $--Text-04;
    &.input_error {
      border: 1px solid $--Colors-Red;
    }

    &.calc_group_content_input_inner_disabled {
      border: 1px solid $--Text-04;
      background: $--Text-05;
    }
  }
  .calc_group_content_input {
    border: none;
    outline: none;
    text-align: end;
    flex: 1;
    color: $--Text-00;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.4px;
    padding: 0;
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    &::placeholder {
      color: $--Text-03;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
    }
    &.placeholder_styled {
      &::placeholder {
        color: $--Text-04;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
      }
    }
  }
  .calc_group_content_input_unit {
    color: $--Text-00;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .calc_group_content_input_modal {
    position: absolute;
    top: 20px;
    bottom: auto;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    color: $--Text-W;
    background-color: #000;
    font-size: 14px;
    font-weight: 700;
    z-index: 10000 !important;
  }

  .add_btn_box {
    display: flex;
    align-items: center;
    gap: 8px;
    .item_btn {
      display: flex;
      padding: 8px 16px;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid $--Main-Navy;
      color: $--Main-Navy;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
      cursor: pointer;
      white-space: nowrap;
    }
  }
  .prohibit_deletion {
    color: $--Colors-Red;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.3px;
    white-space: nowrap;
  }
  .calc_group_content_input_set {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .calc_group_content_input_set_inner {
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 0;
  }
  .calc_group_content_input_set_label {
    width: 130px;
    height: 100%;
    flex-shrink: 0;
    color: $--Text-02;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  /* 성별 버튼 그룹 */
  .gender_button_group {
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 1;
  }
  .gender_button {
    height: 56px;
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $--Text-03;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    border: 1px solid $--Text-04;
    cursor: pointer;

    &:first-child {
      border-radius: 16px 0px 0px 16px;
    }
    &:last-child {
      border-radius: 0px 16px 16px 0px;
    }

    &.active {
      border: 1px solid $--Main-Navy;
      color: $--Main-Navy;
    }
  }

  /* 나이 입력 박스 */
  .calc_group_content_input_set_box {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    padding: 16px;
    gap: 8px;
    border: 1px solid $--Text-04;
    border-radius: 16px;
  }
  .calc_group_content_input {
    flex: 1 1 auto;
    min-width: 0;
    text-align: end; /* placeholder와 값 모두 오른쪽 정렬 */
    border: none;
    outline: none;
    color: $--Text-00;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;

    &::placeholder {
      color: $--Text-03;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.32px;
    }
  }

  .calc_group_content_input_unit {
    color: $--Text-00;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .note_box_wrap {
    .note_box {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h3 {
        color: $--Text-03;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: -0.36px;
      }
      .note_content {
        align-self: stretch;
        color: $--Text-03;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.32px;
        ol {
          list-style-type: decimal;
          margin-left: 22px;
        }
      }
      h4 {
        color: $--Text-03;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
      }
    }
  }
  .calc_group_btn {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    padding: 80px 24px 80px 24px;
  }
  .calc_btn {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: -0.36px;
    border-radius: 12px;
    cursor: pointer;

    &:first-child {
      border: 1px solid $--Main-Navy;
      color: $--Main-Navy;
    }
    &:last-child {
      background: $--Main-Navy;
      color: $--Text-W;
      border: 1px solid $--Text-05;
    }
  }
}
.error_message {
  position: absolute;
  top: 105%;
  right: 0;
  color: $--Colors-Red;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  white-space: nowrap;
}
