$breakpoint-480: 480px;
$breakpoint-600: 600px;
$breakpoint-780: 780px;
$breakpoint-1024: 1023px;
$breakpoint-1280: 1280px;
$breakpoint-1600: 1600px;

$--Text-00: #232527;
$--Text-01: #444444;
$--Text-02: #666666;
$--Text-03: #999;
$--Text-04: #dddddd;
$--Text-05: #eeeeee;
$--Text-W: #ffffff;

$--Colors-Red: #ff3b30;

$--BG-01: #f0f2f6;
$--Main-BG: #f0f2f6;
$--Main-Navy: #0055a2;
$--Main-Grey: #434d68;
$--Main-Sky: #5a8ac6;

$--sds-size-depth-0: 0px;
$--sds-size-depth-025: 1px;
$--sds-size-depth-100: 4px;
$--sds-size-depth-400: 16px;
$--sds-size-depth-800: 32px;
$--sds-size-depth-negative-025: -1px;
$--sds-size-depth-negative-100: -4px;
$--sds-color-black-100: rgba(12, 12, 13, 0.05);
$--sds-color-black-200: rgba(12, 12, 13, 0.1);
