.sorted_filter_container {
  width: 100%;
}
.sorted_filter_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.sorted_filter_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  span {
    color: $--Text-03;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@include point1024max {
  .sorted_filter_container {
    display: flex;
    padding: 16px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .sorted_filter_inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
  .sorted_filter_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      color: $--Text-03;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
