@keyframes skeleton_shimmer {
  0% {
    background-color: #ececec;
  }
  50% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: #ececec;
  }
}

.skeleton_news_list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;

  .skeleton_news_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 279px;
  }
}

.skeleton_news_list {
  gap: 40px;

  .skeleton_news_item {
    flex: 1 0 calc((100% - 80px) / 3);

    &:nth-child(n + 4) {
      display: none;
    }
  }
}

@include point1024max {
  .skeleton_news_list {
    gap: 24px;

    .skeleton_news_item {
      flex: 1 0 calc((100% - 24px) / 2);
      height: 197px;
      // 5번째 이후는 숨김
      &:nth-child(n + 4) {
        display: flex;
      }
    }
  }
}

// — 공통 스타일 —
.skeleton_news_img_box {
  width: 100%;
  height: 265px;
  background-color: #e2e2e2;
  border-radius: 24px;
  animation: skeleton_shimmer 1.2s infinite linear;
}

.skeleton_news_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.loader_overlay {
  width: 100%;
  height: 100%;
  position: relative;
}
.loader {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #5a8ac6 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #5a8ac6);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

.skeleton_news_line {
  background-color: #e2e2e2;
  border-radius: 4px;
  animation: skeleton_shimmer 1.2s infinite linear;
}

.skeleton_news_line_short {
  width: 60%;
  height: 20px;
}

.skeleton_news_line_medium {
  width: 40%;
  height: 18px;
}

.policy_skeleton_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 100%;

  .policy_skeleton_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;
  }
}

.policy_skeleton_list {
  column-gap: 40px;

  .policy_skeleton_item {
    flex: 0 0 calc((100% - 80px) / 3);

    // 7번째 이후는 숨김
    &:nth-child(n + 4) {
      display: none;
    }
  }
}

@include point1024max {
  .policy_skeleton_list {
    column-gap: 24px;

    .policy_skeleton_item {
      flex: 0 0 calc((100% - 24px) / 2);

      // 5번째 이후는 숨김
      &:nth-child(n + 4) {
        display: flex;
      }
    }
  }
}

// — 공통 스타일 —
.policy_skeleton_img_box {
  width: 100%;
  height: 140px;
  background-color: #e2e2e2;
  border-radius: 24px;
  animation: skeleton_shimmer 1.2s infinite linear;
}

.policy_skeleton_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.policy_skeleton_line {
  background-color: #e2e2e2;
  border-radius: 4px;
  animation: skeleton_shimmer 1.2s infinite linear;
}

.policy_skeleton_line_medium {
  width: 80%;
  height: 20px;
}
