@keyframes sweep-to-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* 화살표 색이 회색→흰색으로 바뀌는 시퀀스
   0%: 즉시 회색, 80%: 유지, 100%: 흰색 */
@keyframes arrow-fill-sequence {
  0% {
    fill: $--Main-Grey;
  }
  20% {
    fill: $--Main-Grey;
  }
  100% {
    fill: #fff;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 240px;
  margin: 0 auto;
  margin-bottom: 320px;
  width: 1440px;
  .category_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    .category_content_box {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      align-items: center;
      gap: 40px;
      align-self: stretch;
      margin-top: 8px;
      .category_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        grid-column: span 3;
        .category_group {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          .category_item {
            display: flex;
            padding: 32px 32px 0px 32px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 16px 40px;
            background: $--BG-01;
            border: 1px solid $--BG-01;
            transition: all 0.2s ease-in;

            .category_info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 12px;
              align-self: stretch;
              .category_name {
                width: 100%;
                color: $--Text-00;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .category_description {
                color: $--Text-02;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
                letter-spacing: -0.32px;
                white-space: pre-wrap;
                word-break: keep-all;
              }
            }
            .category_image {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              img {
                width: 140px;
              }
            }
            &:hover {
              border-radius: 16px 40px;
              border: 1px solid $--Main-Navy;
              background: $--Text-W;
              box-shadow: $--sds-size-depth-0 $--sds-size-depth-100
                  $--sds-size-depth-100 $--sds-size-depth-negative-025
                  $--sds-color-black-200,
                $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-100
                  $--sds-size-depth-negative-025 $--sds-color-black-100;
              .category_name {
                color: $--Main-Navy;
              }
            }
          }
        }
      }
      .main_slider {
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-column: span 1;
        height: 100%;
        .fixed_banner {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 40px;
          overflow: hidden;
          max-height: 265px;
          .fixed_banner_content {
            position: absolute;
            left: 0;
            padding: 0 32px;
            color: $--Text-W;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
        }
      }
    }
    .extra_content_box {
      display: flex;
      align-items: center;
      gap: 20px;
      align-self: stretch;
      .extra_section {
        display: flex;
        padding: 32px;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 32px;
        border: 1px solid $--Text-04;
        background: #fff;
        transition: background 0.2s ease-in;
        .extra_box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          flex: 1 0 0;
          .extra_item_name {
            color: $--Text-00;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: color 0.2s ease-in;
          }
          .extra_item_description {
            color: $--Text-02;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: color 0.2s ease-in;
          }
        }
        .extra_btn {
          display: flex;
          width: 56px;
          height: 56px;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1;
          border-radius: 50px;
          background: #fff;
          box-shadow: 0px 4px 8px 0px #d9e6f1;
          transition: background 0.2s ease-in, box-shadow 0.1s ease-in;
          svg {
            width: 16px;
            height: 24px;
            path {
              transition: fill 0.2s ease-in;
            }
          }
        }
        &:hover {
          background: $--Main-Grey;
          box-shadow: $--sds-size-depth-0 $--sds-size-depth-100
              $--sds-size-depth-100 $--sds-size-depth-negative-025
              $--sds-color-black-200,
            $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-100
              $--sds-size-depth-negative-025 $--sds-color-black-100;

          .extra_item_name {
            color: $--Text-W;
          }
          .extra_item_description {
            color: rgba(255, 255, 255, 0.7);
          }
          .extra_btn {
            background: #7887b1;
            box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
              0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            svg {
              path {
                fill: $--Text-W;
              }
            }
          }
        }
      }
    }
  }
  .content_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    .content_title_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .content_title {
        color: $--Text-00;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .content_more_btn {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
          color: $--Main-Grey;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
        }

        .content_svg_box {
          position: relative;
          width: 40px;
          height: 40px;
          padding: 2px 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: $--Main-Grey; /* 기본 배경 */
          border: 1px solid $--Main-Grey; /* 기본 테두리 */
          overflow: hidden;

          svg {
            position: relative;
            z-index: 1;
            path {
              fill: #fff; /* 기본 화살표 흰색 */
            }
          }

          /* sweep 애니메이션용 레이어 */
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0; /* 시작은 0 */
            height: 100%;
            background: $--Main-Grey; /* sweep할 컬러 */
            z-index: 0;
          }

          /* --- 호버 시 상태 변화 --- */
          &:hover {
            background: transparent; /* 호버 시작 시 배경 투명 */
          }
          &:hover::before {
            animation: sweep-to-right 0.4s forwards ease-in-out;
          }
          &:hover svg path {
            animation: arrow-fill-sequence 0.6s forwards ease-in-out;
          }
        }

        // hover 시 테두리, pseudo, svg 색 변경 트리거
        &:hover {
          .content_svg_box {
            border-color: $--Main-Grey;

            &::before {
              width: 100%;
            }

            svg path {
              fill: #fff;
            }
          }
        }
      }
    }
    .subscription_list_main {
      display: flex;
      height: 124px;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      .subscription_item_main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 32px;
        background: #e1ecfa;
        &.first_item {
          transition: box-shadow 0.2s ease;
          &:hover {
            box-shadow: $--sds-size-depth-0 $--sds-size-depth-400
                $--sds-size-depth-800 $--sds-size-depth-negative-100
                $--sds-color-black-200,
              $--sds-size-depth-0 $--sds-size-depth-100 $--sds-size-depth-100
                $--sds-size-depth-negative-100 $--sds-color-black-100;
          }
        }

        div {
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            color: $--Text-00;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .subscription_item_count {
            color: $--Main-Navy;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        svg {
          width: 32px;
          height: 32px;
          aspect-ratio: 1/1;
        }
      }
    }
    .news_list {
      display: flex;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      .news_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        &:nth-child(n + 4) {
          display: none;
        }
        .news_img_box {
          display: flex;
          height: 265px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 24px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: scale 0.3s ease-in;
            &:hover {
              scale: 1.1;
            }
          }
        }
        .news_content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;
          .news_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            color: $--Text-00;
            text-overflow: ellipsis;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .news_date {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: $--Text-03;
            text-overflow: ellipsis;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    .policy_list {
      display: flex;
      flex-wrap: wrap;
      align-self: stretch;
      column-gap: 40px;
      .policy_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 0 0 calc((100% - 80px) / 3);
        &:nth-child(-n + 3) {
          margin-bottom: 100px;
        }
        &:nth-child(n + 4) {
          display: none;
        }
        .policy_img_box {
          display: flex;
          height: 140px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 24px;
          border: 1px solid $--Text-04;
          background: rgba(255, 255, 255, 0.85);
          transition: border 0.2s ease-in;
          &:hover {
            border: 1px solid $--Main-Navy;
          }
          img {
            height: 60px;
            object-fit: cover;
          }
        }
        .policy_content {
          .policy_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            color: $--Text-00;
            text-overflow: ellipsis;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 26px */
          }
        }
      }
    }
  }
}

@include point1600max {
  .content_container {
    display: flex;
    flex-direction: column;
    gap: 240px;
    margin-bottom: 320px;
    width: 100%;
    padding: 0 40px;
    .category_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .category_content_box {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        align-items: center;
        gap: 40px;
        align-self: stretch;
        margin-top: 8px;
        .category_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;
          grid-column: span 3;
        }
      }
    }
  }
}

@include point1280max {
  .content_container {
    display: flex;
    flex-direction: column;
    gap: 240px;
    margin-bottom: 320px;
    width: 100%;
    padding: 0 40px;
    .category_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .category_content_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        margin-top: 8px;
        .category_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;
          grid-column: auto;
          .category_group {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            .category_item {
              display: flex;
              padding: 32px 32px 0px 32px;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              flex: 1 0 0;
              align-self: stretch;
              border-radius: 16px 40px;
              background: $--BG-01;
              border: 1px solid $--BG-01;
              transition: all 0.2s ease-in;
              .category_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                .category_name {
                  width: 100%;
                  color: $--Text-00;
                  font-size: 28px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
                .category_description {
                  color: $--Text-02;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%; /* 24px */
                  letter-spacing: -0.32px;
                  white-space: pre-wrap;
                  word-break: keep-all;
                }
              }
              .category_image {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                img {
                  width: 140px;
                }
              }
              &:hover {
                border-radius: 16px 40px;
                border: 1px solid $--Main-Navy;
                background: $--Text-W;
                box-shadow: $--sds-size-depth-0 $--sds-size-depth-100
                    $--sds-size-depth-100 $--sds-size-depth-negative-025
                    $--sds-color-black-200,
                  $--sds-size-depth-0 $--sds-size-depth-100
                    $--sds-size-depth-100 $--sds-size-depth-negative-025
                    $--sds-color-black-100;
                .category_name {
                  color: $--Main-Navy;
                }
              }
            }
          }
        }
        .main_slider {
          display: flex;
          flex-direction: row;
          gap: 20px;
          grid-column: auto;
          grid-row: auto;
          height: 200px;
          min-height: auto;
          max-width: 100%;
          .fixed_banner {
            border-radius: 24px;
          }
        }
      }
      .extra_content_box {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        .extra_section {
          display: flex;
          padding: 32px;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 24px;
          border: 1px solid $--Text-04;
          background: #fff;
          transition: background 0.2s ease-in;
          .extra_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;
            .extra_item_name {
              color: $--Text-00;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              transition: color 0.2s ease-in;
            }
            .extra_item_description {
              color: $--Text-02;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              transition: color 0.2s ease-in;
            }
          }
          .extra_btn {
            display: flex;
            width: 56px;
            height: 56px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            border-radius: 50px;
            background: #fff;
            box-shadow: 0px 4px 8px 0px #d9e6f1;
            transition: background 0.2s ease-in, box-shadow 0.1s ease-in;
            svg {
              width: 16px;
              height: 24px;
            }
          }
          &:hover {
            background: $--Main-Grey;
            .extra_item_name {
              color: $--Text-W;
            }
            .extra_item_description {
              color: rgba(255, 255, 255, 0.7);
            }
            .extra_btn {
              background: #2c3756;
              box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
                0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
    .content_box {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      .content_title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        .content_title {
          color: $--Text-00;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .content_more_btn {
          display: flex;
          align-items: center;
          gap: 16px;
          span {
            color: $--Main-Grey;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .content_svg_box {
            display: flex;
            width: 40px;
            height: 40px;
            padding: 2px 6px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            aspect-ratio: 1/1;
            border-radius: 50px;
            background: $--Main-Grey;
          }
        }
      }
      .news_list {
        display: flex;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        .news_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          flex: 1 0 0;
          &:nth-child(n + 4) {
            display: none;
          }
          .news_img_box {
            display: flex;
            height: 200px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: scale 0.3s ease-in;
              &:hover {
                scale: 1.1;
              }
            }
          }
          .news_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            .news_title {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              align-self: stretch;
              overflow: hidden;
              color: $--Text-00;
              text-overflow: ellipsis;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .news_date {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              color: $--Text-03;
              text-overflow: ellipsis;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
      .policy_list {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        column-gap: 40px;
        .policy_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          flex: 0 0 calc((100% - 80px) / 3);
          &:nth-child(-n + 3) {
            margin-bottom: 100px;
          }

          .policy_img_box {
            display: flex;
            height: 140px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            border: 1px solid $--Text-04;
            background: rgba(255, 255, 255, 0.85);
            transition: border 0.2s ease-in;
            &:hover {
              border: 1px solid $--Main-Navy;
            }
            img {
              height: 60px;
            }
          }
          .policy_content {
            .policy_title {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              color: $--Text-00;
              text-overflow: ellipsis;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 130%; /* 26px */
            }
          }
        }
      }
    }
  }
}

@include point1024max {
  .content_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 160px;
    width: 100%;
    padding: 0 16px;
    .category_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .category_content_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        margin-top: 0;
        .category_list {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1;
          grid-column: none;
          .category_group {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            .category_item {
              display: flex;
              padding: 24px 24px 0px 24px;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              flex: 1 0 0;
              align-self: stretch;
              border-radius: 16px 40px;
              background: $--BG-01;
              border: 1px solid $--BG-01;
              transition: all 0.2s ease-in;

              .category_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                .category_name {
                  display: flex;
                  gap: 4px;
                  font-size: 24px;
                  .help_svg_box {
                    position: relative;
                    svg {
                      width: 28px;
                      height: 29px;
                      transform: translateY(-1px);
                    }
                  }
                }
                .category_description {
                  display: none;
                }
                .category_description_modal {
                  position: absolute;
                  top: 35px;
                  left: 0;
                  z-index: 1000;
                  display: flex;
                  width: 45vw;
                  max-width: 313px;
                  padding: 8px 16px;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border-radius: 8px;
                  border: 1px solid $--Text-02;
                  background: #fff;
                  opacity: 1;
                  transition: opacity 0.5s ease;
                  &.fade-out {
                    opacity: 0;
                  }
                  span {
                    color: $--Text-02;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.32px;
                  }
                }
              }
              .category_image {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                img {
                  width: 100px;
                }
              }
              &:hover {
                background: $--BG-01;
                border: 1px solid $--BG-01;
                box-shadow: none;
                transition: none;
                .category_name {
                  color: $--Text-00;
                }
              }
            }
          }
          .category_group:nth-of-type(2),
          .category_group:nth-of-type(3),
          .category_group:nth-of-type(4) {
            .category_item:nth-of-type(2) {
              .category_info {
                .category_description_modal {
                  left: auto;
                  right: 0;
                }
              }
            }
          }
          .category_group:nth-of-type(4)
            > .category_item:first-child
            .category_image {
            transform: translateX(0px);
          }
          .category_group:nth-of-type(3)
            > .category_item:last-child
            .category_image {
            transform: translateX(10px);
          }
          .category_group:nth-of-type(1)
            > .category_item:first-child
            .category_image {
            transform: translateX(10px);
          }
          .category_group:nth-of-type(1)
            > .category_item:last-child
            .category_image {
            transform: translateX(10px);
          }
        }
        .main_slider {
          display: flex;
          flex-direction: row;
          gap: 20px;
          grid-column: none;
          grid-row: 2;
          height: 100%;
          min-height: 153px;
          max-width: 100%;

          .fixed_banner {
            display: none;
            border-radius: 24px;
          }
        }
      }
      .extra_content_box {
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        .extra_section {
          display: flex;
          padding: 24px;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 24px;
          border: 1px solid $--Text-04;
          background: #fff;
          transition: none;
          .extra_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;
            .extra_item_name {
              font-size: 20px;
            }
            .extra_item_description {
              font-size: 14px;
            }
          }
          .extra_btn {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            border-radius: 50px;
            background: #fff;
            box-shadow: 0px 4px 8px 0px #d9e6f1;
            transition: none;
            svg {
              width: 10px;
              height: 17px;
              path {
                transition: none;
              }
            }
          }
          &:hover {
            background: #fff;
            border: 1px solid $--Text-04;
            box-shadow: none;
            transition: none;

            .extra_item_name {
              color: $--Text-00;
            }
            .extra_item_description {
              color: $--Text-02;
            }
            .extra_btn {
              background: #fff;
              box-shadow: 0px 4px 8px 0px #d9e6f1;
              svg {
                path {
                  fill: #007aff;
                }
              }
            }
          }
        }
      }
    }
    .content_box {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .content_title_box {
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        .content_title {
          color: $--Text-00;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .content_more_btn {
          transform: translateY(1px);
        }
      }
      .subscription_list_main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        height: fit-content;
        .subscription_item_main {
          display: flex;
          height: 73px;
          min-height: 73px;
          padding: 20px 0px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          border-radius: 24px;
          background: #e1ecfa;
          div {
            display: flex;
            align-items: center;
            gap: 8px;
            span {
              color: $--Text-00;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .subscription_item_count {
              color: $--Main-Navy;
              font-size: 28px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          svg {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;
          }
        }
      }
      .news_list {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-wrap: wrap;
        .news_item {
          &:nth-child(n + 4) {
            display: flex;
            gap: 24px;
          }
          &:nth-child(-n + 2) {
            margin-bottom: 24px;
          }
          gap: 16px;
          min-height: 130px;
          flex: 0 0 calc((100% - 16px) / 2);

          .news_img_box {
            display: flex;
            height: 130px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: scale 0.3s ease-in;
              &:hover {
                scale: 1;
              }
            }
          }
          .news_content {
            gap: 8px;
            .news_title {
              font-size: 16px;
            }
            .news_date {
              font-size: 14px;
            }
          }
        }
      }
      .policy_list {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        column-gap: 16px;
        .policy_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 0 0 calc((100% - 16px) / 2);
          &:nth-child(-n + 3) {
            margin-bottom: 24px;
          }
          &:nth-child(n + 4) {
            display: flex;
            gap: 24px;
          }
          .policy_img_box {
            display: flex;
            height: 140px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            border: 1px solid $--Text-04;
            background: rgba(255, 255, 255, 0.85);
            transition: border 0.2s ease-in;
            &:hover {
              border: 1px solid $--Text-04;
            }
            img {
              height: 60px;
            }
          }
          .policy_content {
            .policy_title {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@include point480max {
  .content_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 160px;
    .category_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .category_content_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        margin-top: 0;
        .category_list {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1;
          grid-column: none;
          .category_group {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            .category_item {
              display: flex;
              padding: 24px 16px 0px 16px;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              flex: 1 0 0;
              align-self: stretch;
              border-radius: 16px 40px;
              background: $--BG-01;
              border: 1px solid $--BG-01;
              transition: all 0.2s ease-in;

              .category_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                position: relative;
                .category_name {
                  display: flex;
                  gap: 4px;
                  font-size: 22px;
                  letter-spacing: -0.3px;
                  .help_svg_box {
                    svg {
                      width: 24px;
                      height: 25px;
                      transform: translateY(-1px);
                    }
                  }
                }
                .category_description {
                  display: none;
                }
                .category_description_modal {
                  position: absolute;
                  top: 35px;
                  right: 0;
                  z-index: 3;
                  display: flex;
                  width: 201px;
                  padding: 8px 16px;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border-radius: 8px;
                  border: 1px solid $--Text-02;
                  background: #fff;
                  opacity: 1;
                  transition: opacity 0.5s ease;
                  &.fade-out {
                    opacity: 0;
                  }
                  span {
                    color: $--Text-02;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: -0.32px;
                  }
                }
              }
              .category_image {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                img {
                  width: 100px;
                }
              }
              &:hover {
                background: $--BG-01;
                border: 1px solid $--BG-01;
                box-shadow: none;
                transition: none;
                .category_name {
                  color: $--Text-00;
                }
              }
            }
          }
          .category_group:nth-of-type(2),
          .category_group:nth-of-type(3),
          .category_group:nth-of-type(4) {
            .category_item:nth-of-type(2) {
              .category_info {
                .category_description_modal {
                  left: auto;
                  right: 0;
                }
              }
            }
          }
          // .category_group:nth-of-type(2) > .category_item:last-child svg {
          //   transform: translateY(-6px);
          // }
          // .category_group:nth-of-type(2)
          //   > .category_item:last-child
          //   .category_name {
          //   font-size: 20px;
          // }
          .category_group:nth-of-type(4)
            > .category_item:first-child
            .category_image {
            transform: translateX(15px);
          }
          .category_group:nth-of-type(2)
            > .category_item:first-child
            .category_image {
            transform: translateX(10px);
          }
        }
        .main_slider {
          display: flex;
          flex-direction: row;
          gap: 20px;
          grid-column: none;
          grid-row: 2;
          height: 100%;
          min-height: 153px;
          max-width: 100%;

          .fixed_banner {
            display: none;
          }
        }
      }
      .extra_content_box {
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        .extra_section {
          display: flex;
          padding: 24px;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 24px;
          border: 1px solid $--Text-04;
          background: #fff;
          transition: none;
          .extra_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;
            .extra_item_name {
              font-size: 20px;
            }
            .extra_item_description {
              font-size: 14px;
            }
          }
          .extra_btn {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            border-radius: 50px;
            background: #fff;
            box-shadow: 0px 4px 8px 0px #d9e6f1;
            transition: none;
            svg {
              width: 10px;
              height: 17px;
            }
          }
          &:hover {
            background: #fff;
            border: 1px solid $--Text-04;
            box-shadow: none;
            transition: none;

            .extra_item_name {
              color: $--Text-00;
            }
            .extra_item_description {
              color: $--Text-02;
            }
            .extra_btn {
              background: #fff;
              box-shadow: 0px 4px 8px 0px #d9e6f1;
            }
          }
        }
      }
    }
    .content_box {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .content_title_box {
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        .content_title {
          color: $--Text-00;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .news_list {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-wrap: wrap;
        .news_item {
          &:nth-child(n + 4) {
            display: flex;
            gap: 24px;
          }
          &:nth-child(-n + 2) {
            margin-bottom: 24px;
          }
          gap: 16px;
          min-height: 130px;
          flex: 0 0 calc((100% - 16px) / 2);

          .news_img_box {
            display: flex;
            height: 130px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: scale 0.3s ease-in;
              &:hover {
                scale: 1;
              }
            }
          }
          .news_content {
            gap: 8px;
            .news_title {
              font-size: 16px;
            }
            .news_date {
              font-size: 14px;
            }
          }
        }
      }
      .policy_list {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        column-gap: 16px;
        .policy_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 0 0 calc((100% - 16px) / 2);
          &:nth-child(-n + 3) {
            margin-bottom: 24px;
          }
          &:nth-child(n + 5) {
            display: none;
          }
          .policy_img_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            border: 1px solid $--Text-04;
            background: rgba(255, 255, 255, 0.85);
            transition: border 0.2s ease-in;
            &:hover {
              border: 1px solid $--Text-04;
            }
            img {
              height: 10vw;
            }
          }
          .policy_content {
            .policy_title {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
