.home {
  .container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
}
.fff {
  background-color: #ffffff;
}

.f0f {
  background-color: #f0f2f6;
}
