.policy_list_container {
  display: flex;
  width: 1440px;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
  padding: 80px 0;
}

.policy_title_box {
  width: 100%;
  span {
    color: $--Text-00;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.policy_list_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(210px, 30%), 1fr));
  row-gap: 42px;
  column-gap: 32px;
}

.policy_list_item {
  display: flex;
  height: 210px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 32px;
  border: 1px solid $--Text-04;
  background: $--Main-BG;
  transition: border 0.2s ease;
  &:hover {
    border: 1px solid $--Main-Navy;
  }
}

.policy_item_img_box {
  height: 32px;
  max-height: 32px;
  flex-shrink: 0;
  overflow: visible;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.policy_item_text_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.policy_item_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: $--Text-00;
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}
.policy_item_date {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: $--Text-03;
  text-overflow: ellipsis;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.policy_more_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.policy_more_btn {
  display: flex;
  padding: 12px 16px 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid $--Main-Navy;
  cursor: pointer;
  span {
    color: $--Main-Navy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@include point1600max {
  .policy_list_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
    padding: 80px;
  }
}

@include point1600max {
  .policy_list_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
    padding: 80px 40px;
  }
}

@include point1280max {
  .policy_list_content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include point1024max {
  .policy_list_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
    padding: 80px 16px;
  }
  .policy_list_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .policy_more_btn {
    display: flex;
    width: 100%;
    height: 52px;
    padding: 12px 16px 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid $--Main-Navy;
    span {
      color: $--Main-Navy;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@include point780max {
  .policy_list_container {
    padding: 40px 16px;
    gap: 32px;
  }

  .policy_list_content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 24px;
  }
}

@include point600max {
  .policy_list_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

@include point480max {
  .policy_title_box {
    span {
      font-size: 24px;
    }
  }
}
